<a href="https://colab.research.google.com/github/clargote/mujeresDigitales/blob/main/Clase5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Continuación de Ciclos**

---
**Ciclo FOR  -  bucle FOR

In [ ]:
for i in range(1,5): (no toma el 5 es menos 1)
  print(i)

1
2
3
4

Para dejar claro las partes que compoenen el bucle FOR, vamos a dejar claro las siguientes definiciones:

1. **Iterable**: Los objetos que pueden ser iterados. Por ejemplo una lista, valor tipo cadena, etc.
2. **Iterador**:Son objetos que hacen referencia a un elemento (Para hacer referencia a cada uno de los elementos hay un método denominado **next** que permite hacer referencia a los elementos del conjunto.

**for (variable) in (iterable):  
      <Bloque código> #debe un rango de varios elementos en el iterable

Algunos ejemplos de iterables en Python son las listas, cadenas, diccionarios, tuplas, etc.


¿Cómo saber que es ITERABLE a la hora de programar?
Podemos darnos cuenta que es iterable usando la función **isinstance**

In [ ]:
from collections import Iterable #Paquete iterable de Collections (phyton 3.7) Kermel


lista=[1,2,3,4,5,6,7,8,9,0]
a="computador"
b=10
print(isinstance(lista,Iterable))
print(isinstance(a,Iterable))
print(isinstance(b,Iterable))

True
True
False

In [ ]:
a=30   #asi es el error con un int
for i in (a): 
  print(i)

TypeError: ignored

Para entender los iteradores es importante conocer la función **iter()**. Esta funcion puede ser llamada sobre un objeto que sea iterable y nos devolverá un iterador. 

Ejemplo:

In [ ]:
lista=[1,2,3,4,5,6,7,8,9,0]
ref=iter(lista)
print(ref)
print(type(ref))

<list_iterator object at 0x7f4ab9a8ec10>
<class 'list_iterator'>

Al imprimir ref es un iterador de la clase *list_iterador*. Hace referncia a la lista original y nos permite acceder a sus elementos con la función *next()*. Cada vez que llamemos a next() sobre ref, nos devuelve el siguiente elemento de la lista original.
Si por ejemplo quiero acceder  al elemento 7 tendremos que llamar 7 veces a next()

In [ ]:
lista=[1,2,3,4,5,6,7,8,9,0]
ref=iter(lista)
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))

1
2
3
4
5
6
7
8
9

**Tener en cuenta**
Existen otros iteradores para las diferentes clases:

1. str_iterator para cadenas
2. list_iterator para listas
3. set_iterator para conjuntos
4. dict_keyiterator para diccionarios

**For anidados**

---
Es posible anidar los FOR, es decir ingresar uno dentro de otro, como lo vemos a continuación.

In [ ]:
#Vamos a crear una lista de listas lo cual conforma una especie de matriz
#Recordemos que una matriz se compone de valores que se distribuyen en filas y columnas

qa=[[1,2,3],
    [4,5,6],
    [7,8,9]]


for i in qa:
  print(i)

for i in qa:
  for j in i:
    print(j)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
2
3
4
5
6
7
8
9

Si queremos acceder a cada elemento individualmente, se procede a realizar un bucle de FOR anidado; es decir, un for se encargará de iterar las columnas, y el otro las filas.

In [ ]:
#otra forma de usar solo el for, es la iteración al revés. Es decir se puede iterar la lista desde el ultimo al primer elemento
lista=[1,2,3,4,5,6,7,8,9,0]
for i in lista[::-1]:
    print(i)

0
9
8
7
6
5
4
3
2
1

In [ ]:

#otra forma de usar haciendo un salto
lista=[1,2,3,4,5,6,7,8,9,0]
for i in lista[::2]:
    print(i)

a="computador"
for i in a[::2]:
  print("\n",i)

for i in a[::4]:
  print("\n",i)

1
3
5
7
9

 c

 m

 u

 a

 o

 c

 u

 o

In [ ]:
#usando rangos

for i in range(10):    
   print(i)

#El range() genera una secuencia de números que van desde 0 por defecto hasta el número que se pasa como parámetro menos 2.

#Estructura: range(inicio,fin,salto)

#observemos un truco con el range:
print(list(range(2,10,2)))  #conversión de un rango en una lista

0
1
2
3
4
5
6
7
8
9
[2, 4, 6, 8]

**Lista de comprensión**

---
Estas nos permiten crear listas de elementos en una sola línea de código.

Ejemplo: Crear una lista de las potencias a la 3 de los números impares de 0 a 9

In [ ]:
tres=[i**3 for i in range(1,10,2)]
#1,3,5,7,9
print(tres)

tres=[]
for i in range(1,10,2):
  tres.append(i**3)
  print(i,tres)

[1, 27, 125, 343, 729]
1 [1]
3 [1, 27]
5 [1, 27, 125]
7 [1, 27, 125, 343]
9 [1, 27, 125, 343, 729]

In [ ]:
s=[1 for i in range(10)]
print(s)

s=[3 for i in range(10)]
print(s)

lista1=[5,10,15,20,25,30]
lista2=[i/5 for i in lista1]
print(lista2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [ ]:
pera1="mama ama a ema"
pera2=[i for i in pera1 if i=="a"]
print(pera2)

print(len(pera2))

['a', 'a', 'a', 'a', 'a', 'a']
6