<a href="https://colab.research.google.com/github/clargote/mujeresDigitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Introducción**
---
Para manejar un código limpio en Python:
podemos seguir las siguientes recomendaciones:

1. Manejar siempre minúsculas
2. Se le puede añadir números
3. Aparecerá errores si no estan seguidos la declaración de la variable con el numero asignado, es decir. Ejemplo ana1 (correcto) y ana 1 (incorrecto - error)


En Python hay varios tipos de datos Compuestos y estan disponibles por defecto en los interpretes (Convierte codigo a un lenguaje natural colab, anaconda es un interprete de python)

**¿De qué tipos?**
 1. Númericos
 2. secuencias
 3. Mapeos
 4. Conjuntos usados para agrupar otros valores

 **Diferencia entre Constantes y Variables**
En matemáticas llamamos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo: Contabilidad: Gastos fijos
Ejemplo 2: 6

Por otrol lado, el concepto de variable, como la cantidad que es susceptible a tomar distintos valores numéricos. **Ejemplo**

In [ ]:
x=5
print(x)

5

**Tipos de datos**

---

**Enteros**
Son los números que no tienen decimales
Pueden ser positivos y negativos

In [ ]:
a=int(3)
print(a, type(a))

3 <class 'int'>

El comando *int* es para hacer alución a números enteros.
A parte el comando *float*, permite valores con decimales

In [ ]:
b=float(8.25)
print(b, type(b))

8.25 <class 'float'>

**Tipo cadena**

---

Las cadenas de texto encerrado entre comillas (simples ' o dobles ") y se pueden conformar de diferentes caracteres (numéricos, alfabéticos, especiales #$%)
tener en cueta, las cadenas admiten operadores como la suma y la resta. (Variable String)

In [ ]:
val1="Lorena"
print(val1)

val2="Hola mundo"
print (val2)

n= "Aprender"
z="Python"
print (n,z)

q="3"
z="4"
s=int(q)-int(z)
print(s)

Lorena
Hola mundo
Aprender Python
-1

**Tipo Booleanos:**


---


Este tipo de variable solo tendrá un valor de Verdadero o Falso

**Nota:**
Son valores muy usados en condiciones y bucles.

In [ ]:
lola=False
print("El valor es falso: ",lola,", el cual es de tipo ", type(lola))

El valor es falso:  False , el cual es de tipo  <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:
1. Listas
2. Tuplas
3. Diccionarios

**Tipo de Conjuntos**

Son una colección de datos sin elementos que se repiten:

In [ ]:
frut='perra','manzana','naranja'
print(frut)

color='morado','blanco','azul'
print(frut,color)

('perra', 'manzana', 'naranja')
('perra', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**Tipo Listas**

---
Son listas las que almacenan vectores.(una fila o columna con varios datos).
Las listas siempre empiezan a nombrarse desde el elemento cero(0). A partir de alli empieza el conteo
Ejemplo de listas en Python:

In [ ]:
ines=['5','uva','lila','perro']
print(ines)
fe=ines[2]
fe1=ines[0:3]
print(fe)
print(fe1)

['5', 'uva', 'lila', 'perro']
lila
['5', 'uva', 'lila']

**Tipo Tuplas**

---
Es una lista que no se puede modificar después de la creación de esta:
Tuplas anidades: Agrupación (Tuplas)

In [ ]:
tupla=23,28,'hola'
print(tupla)

otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'hola')
((23, 28, 'hola'), (1, 2, 3, 4))

**Tipo Diccionarios**

---
Define los datos uno a uno entre un campo (ID   -Identificador-Clave) y un valor.

In [ ]:
datos_b={
    'nombre':"Lorena",
    "apellios":"Argote",
    "Cedula": "123456789",
    "est_civil":"Casada",
    "lugar_nacimiento":"Cali",
    "fecha_nacimiento":"17/03/1989"
}

print("ID del diccionario", datos_b.keys()) 
print("ID del diccionario", datos_b.values()) 
print("ID del diccionario", datos_b.items()) 
print("cedula de ciudadania :", datos_b['Cedula'])

ID del diccionario dict_keys(['nombre', 'apellios', 'Cedula', 'est_civil', 'lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['Lorena', 'Argote', '123456789', 'Casada', 'Cali', '17/03/1989'])
ID del diccionario dict_items([('nombre', 'Lorena'), ('apellios', 'Argote'), ('Cedula', '123456789'), ('est_civil', 'Casada'), ('lugar_nacimiento', 'Cali'), ('fecha_nacimiento', '17/03/1989')])
cedula de ciudadania : 123456789

**Ejemplo Practico*(características de los carros)**

In [ ]:
carros_0={}
carros_0['tam']='grande'
carros_0['color']='negro'
carros_0['marca']='Renault'
carros_0['precio']=60
print(carros_0)

carros_1={}
carros_1['tam']='pequeño'
carros_1['color']='blanco'
carros_1['marca']='Renault'
carros_1['precio']=37
print(carros_1)

compra0=carros_0['precio']
compra1=carros_1['precio']
compratotal=compra0+compra1
print("La compra total fue de:",compratotal)

{'tam': 'grande', 'color': 'negro', 'marca': 'Renault', 'precio': 60}
{'tam': 'pequeño', 'color': 'blanco', 'marca': 'Renault', 'precio': 37}
La compra total fue de: 97