<a href="https://colab.research.google.com/github/clargote/mujeresDigitales/blob/main/TareaClase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 1**

420*100/(20-10+50) 


---

1. Se realiza la operación en paréntesis (el orden de las operaciones es de izquierda a derecha, por lo tanto primero se realiza la resta y posterior la suma)
> 420*100/(10+50)

  > 420*100/(60)


2. Se realiza la multiplicación 
> 42000/60

3. Se realiza la división
>700

In [ ]:
print(420*100/(20-10+50))

700.0

**Ejercicio 2**

(7+1)∗∗(5−2)%5=

---
1. Se realiza las operaciones en paréntesis 
> (8)**(3)%5

2. Se realiza la potenciación
>512%5

3. Se calcula el modulo
>2

In [ ]:
print((7+1)**(5-2)%5)

2

**Ejercicio 3**

---
c=True

d=False

a=True

c or d and not(a) or a and c 

True or False and not(True) or True and True   *Se realiza el parentésis y el operador NOT*

True or False and false or True and True  *Se realiza el operador AND*

True or False or True *Se realiza el operador OR desde la izquierda*

True or True   *Se realiza el operador OR*

True

In [ ]:
c=True
d=False
e=True
c or d and not(a) or a and c

True

**Ejercicio 4**

---
a=5

b=10

c=15

((a > b) or (a < c)) and ((a == c) or (a>=b))      *Se calculan los parentesis interno*

  (False or True) and (False or False))    *Se calculan los parentesis mas externos con operador OR*

  (True) and (False)  *Se calcula operador AND*
  
   False

In [ ]:
a=5
b=10
c=15
print(((a>b) or (a<c)) and ((a==c) or (a>=b)))

False

**Ejercicio 5**

---
((2>=2) or not (4<12)) and ((5<6) and (8<=10) *calcula los paréntesis internos*

 ((True) or not (True)) and ((True) and (True)) *Calcula la negacion de True*

 (True or False) and (True and True) *Calcula paréntesis*

 (True) and (True)  *Calcula operador AND*

True

In [ ]:
((2>=2) or not (4<12)) and ((5<6) and (8<=10))

True