<a href="https://colab.research.google.com/github/clargote/mujeresDigitales/blob/main/TareaClase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Constantes

In [ ]:
pi=3.1416
iva=0.19                                                                


print(pi)
print(iva)

3.1416
0.19

Variables

In [ ]:
edad=8
ciudad="Cali"


print(edad)
print(ciudad)

4
Cali

**Tipo de datos**
---
*Enteros*

In [ ]:
pasaje=int(2200)
print(pasaje)


deuda=int(-256)
print(deuda,type(deuda))

2200
-256 <class 'int'>

*Float*

In [ ]:
costo=float(158895.25)
print(costo)

presupuesto=float(78952114.415)
print(presupuesto, type(presupuesto))

158895.25
78952114.415 <class 'float'>

*Tipo cadena*

In [ ]:
planta="suculentas"
especie="Graptopetalum Paraguayense"
print("Me gustan las",planta, "en especial la",especie)

deporte="natación"
jornada="mañana"
print("Las clases de "+ deporte+ " estan en el horario de la "+jornada)

Me gustan las suculentas en especial la Graptopetalum Paraguayense
Las clases de natación estan en el horario de la mañana

*Tipo Booleano*

In [ ]:
x=True
y=False
print(x,type(x))
print(y,type(y))

True <class 'bool'>
False <class 'bool'>

*Conjuntos*

In [ ]:
tamaño= "grande","mediano","pequeño"
print(tamaño)

electrodomesticos="estufa","televisor","ventilador","nevera"
print(electrodomesticos)

print(tamaño,electrodomesticos)

('grande', 'mediano', 'pequeño')
('estufa', 'televisor', 'ventilador', 'nevera')
('grande', 'mediano', 'pequeño') ('estufa', 'televisor', 'ventilador', 'nevera')

*Listas*

In [ ]:
info=["1","cactus","suculenta","aloe"]
print(info)

cosa=["mesa","carro","casa","perro"]
cosa1=cosa[3]
print(cosa1)

['1', 'cactus', 'suculenta', 'aloe']
perro

*Tuplas*

In [ ]:
pa="arroz",4,"papa"
print(pa)

ma=pa,("verde","amarillo")
print(ma)

('arroz', 4, 'papa')
(('arroz', 4, 'papa'), ('verde', 'amarillo'))

*Diccionarios*

In [ ]:
plan_vet={
    "codigo":"1",
    "nombre":"Bienestar",
    "precioMensual":50000,
    "Descripcion":"salud básica"
}

print("Nombre de los campos",plan_vet.keys())
print("Datos registrados",plan_vet.values())
print("Items",plan_vet.items())
print("\nEl precio del plan Bienestar es de", plan_vet["precioMensual"])


mascota1={}
mascota1["nombre"]="Nicol"
mascota1["raza"]="Criolla"
mascota1["edad"]="14 años"

mascota2={}
mascota2["nombre"]="Venus"
mascota2["raza"]="Husky Siberiano"
mascota2["edad"]="3 años"

print(mascota2.keys())
print("\nLos datos de la mascota 2 son:",mascota2.values())

Nombre de los campos dict_keys(['codigo', 'nombre', 'precioMensual', 'Descripcion'])
Datos registrados dict_values(['1', 'Bienestar', 50000, 'salud básica'])
Items dict_items([('codigo', '1'), ('nombre', 'Bienestar'), ('precioMensual', 50000), ('Descripcion', 'salud básica')])

El precio del plan Bienestar es de 50000
dict_keys(['nombre', 'raza', 'edad'])

Los datos de la mascota 2 son: dict_values(['Venus', 'Husky Siberiano', '3 años'])